.address {
    padding-top: 3vh;
    text-align: left;
    vertical-align: middle;
    font-size: 40px;
    background-color: transparent;
    height: auto;
    width: auto;
    display: grid;
}

@media (max-width: 1000px) {
    .address{
        font-size: 14px;
        background-color: transparent;
    }
    h1 {
        font-size: 16px;
    }
}