.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6%; /* или 8%, в зависимости от ваших предпочтений */
}

.address-center {
  /* Любые дополнительные стили для компонента Address */
}

.ratings {
  width: 100%; /* Если нужно, чтобы занимало всю ширину контейнера */
  /* Дополнительные стили для секции с рейтингами */
}

table {
  width: 100%; /* Заполнение всего доступного пространства */
  border-collapse: collapse; /* Удаление двойных границ */
}

td, th {
  border: 1px solid black; /* Добавление границ ячейкам */
  text-align: left; /* Выравнивание текста по левому краю */
  padding: 8px; /* Отступы внутри ячеек */
}